*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
   
}
/* nav bar style */
nav {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
    align-items: center;
}
/* sign in button style */
.sign_in_btn{
    width: 116px;
    height: 52px;
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-size: 17px;
    font-weight:500 ;
    color:#09A15C ;
    transition: 0.5s ease;
    cursor: pointer;
}
.sign_in_btn:hover{
    background-color:#09A15C ;
    color: #ffffff;
    border-style: none;
}
/* hero area style */
.hero_area{
    background-color: #C6E4D6;
    height: 350px;
    width: 1160px;
    margin: 46px 160px;
    padding:100px 60px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.1);
    
} 
/* hero-content style */
.hero_content{
     margin: 117px 0;
     width: 622px;
     height: 326px;
}
.hero_content h4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #0e0e0e92;
}
.hero_content h1{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #0E0E0E;
}
.hero_img{
   width: 474px;
   height: 400px;
}
/* primary button style */
.primary_btn{
    background-color: #006A50;
    color: #ffffff;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}
/* hero area style */
.hero_headline h1{
    margin: 80px 160px 32px 160px;
    font-size: 40px;
    font-weight: 700;
}

.hero_card{
    margin: 0 160px;
    width: 1280px;
    display: flex;
    justify-content: center;
    gap: 24px; 
}
/* card style */
.card{
    width: 302px;
    height: 244px;
    padding: 24px;
    background-color: #ffffff;
    border: 1px silid  #0e0e0e3f;
    border-radius: 8px;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.1);
    transition: 0.5s ease;
}
.card img{
    margin-bottom: 24px;
}.card h2{
    font-size: 20;
    font-weight: 600;
    color: #0E0E0E;
}
.card p{
    font-size: 20px;
    padding-top: 24px;
    color: #0e0e0e91;
}
.card:hover{
    transform: translateY(-10px);
}
/* the vision of future div style */
.vision_of_future{
    width: 1280px;
    padding: 80px 160px;
}
.vision_of_future h1{  
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}
.vision_of_future p{
    font-size: 16px;
    margin-top: 24px;
    color: #0e0e0e91;
}
/* Hero-Digital transformation div style */
.hero_digital_card{
    margin: 0 160px;
    width: 1280px;
    display: flex;
    gap: 24px;
    justify-content: center;
}
.digital_card{
    width: 410px;
    height: 300px;
    background-color: #548ff546;
    border: none;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
    transition: .5s ease;
}
.digital_card:hover{
    transform: translateY(-15px);
}
.digital_card2{
    background-color:#09a15d6b ;
}
.digital_card3{
background-color: #f7ebcfd3;
}
.digital_card h1{
    margin: 32px 0;
    font-size: 25px;
    font-weight: 600;
    color: #0E0E0E;
}
.digital_card p{
    font-size: 20px;
    margin: 24px 0;
    color: #0e0e0e91;
    
}
/* digital card button style */
.digital_card_btn{
    padding: 11px 20px;
    background-color: #548ff5;
    border-style: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.digital_card_btn:hover{
    background-color:#09A15C;
}
/* Dr. mohammad younus qoute div style */
.younus_qoute{
    background-image: url("./images/quote-bg.png");
    width: 1240px;
    height: 180px;
    margin: 32px 160px;
    padding: 48px 24px;
    background-position: 2% 10%;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
    border-radius: 16px;
    
}
.younus_qoute p{
    font-size: 18px;
    color: #0e0e0e91;
    margin-bottom: 24px;
    line-height: 1.5;
}
.younus_qoute h3{
    font-size: 20px;
    margin: 32px 0 3px 0;
}
/* your opinion section */
.opinion_section h1{
    margin: 50px 160px 20px 160px;
    font-size: 30px;
}
.opinion_table{
    width: 1280px;
    height: 200px;
    margin: 10px 160px;
    padding: 20px 24px;
    background-color: #fff;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
    border-radius: 8px;
    border-collapse: collapse;
}
.opinion_table thead{
    background-color: #d9f2d9;
    font-size: 18px;
    
}
.opinion_table thead th{
    text-align: left;
    padding: 15px 10px;
    font-size: 16px;
    color: #333;
    border: .5px solid #888;
}
.opinion_table tbody tr {
    background-color: #ffffff;  
}
.opinion_table td {
    padding: 10px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    border: 1px solid #888;
    
    
}
select {
    padding: 5px;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color:#d9f2d9 ;
}

/* Recent news div style */
.recent_news{
    width: 1280px;
    margin: 50px 160px;
}
.recent_news h1{
   font-size: 40px;
}
.recent_news p{
    color: #0e0e0e91;
    margin-top: 10px;
}
/* Bangladesh launch new satellite style */
.bangladesh_satellite{
    width: 1240px;
    height: 400px;
    margin: 24px 160px;
    padding: 24px;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.satellite_img img{
    border-radius: 24px;
}
.satellite_content img{
    margin: 10px 0;
}
.satellite_content span{
    display: inline-block;
}
.satellite_content p{
    margin: 15px 0;
    color: #0e0e0e91;
}
.satellite_btn {
    padding: 13px 26px;
    border-radius: 8px;
    color: #fff;
    border-style: none;
    background-color: #09A15C;
    font-size: 16px;
    transition: 0.5s ease;
    margin: 20px 0;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
    cursor: pointer;  
}
.satellite_btn:hover{
    background-color: #333;  
}
/* Donate today div style */
.donate_today{
    width: 1280px;
    margin: 80px 160px;   
}
.donate_today h1{
    text-align: center;
}
.donate_today p{
    margin: 20px 0;
    text-align: center;
    color: #0e0e0e91;
}
/* Amount of taka style */
.donate_taka{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.taka{
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
    border-radius: 15px;
    border-style: none;
    transition: 0.5s ease;
    cursor: pointer;
}

.taka:hover{
    transform: translateY(-10px);
    background-color: #C6E4D6;
}
.active {
    background-color: #C6E4D6;
}
.input_section{
    display: flex;
    justify-content: center;
}
.input_section input[type="text"]{
   
   width: 800px;
   height: 50px;
   margin: 30px 0;
   text-align: center;
   border-radius: 5px;
   border-style: none;
   background-color: #ffffff;
   box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
}
.donate_btn{
    padding: 17px 34px;
    margin-left:44% ;
    border-radius: 8px;
    color: #fff;
    border-style: none;
    background-color: #09A15C;
    font-size: 16px;
    transition: 0.5s ease;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
    font-weight: 500;
    cursor: pointer;
}
.donate_btn:hover{
    background-color: #5490F5;  
}
/* subscribe newsletter div */
.subscribe_newsletter{
    width: 750px;
    height: 270px;
    background-color: #C6E4D6;
    margin: 0 160px ;
    padding: 80px 265px;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
}
.subscribe_newsletter h1{
    font-size: 40px;
    font-weight: 700;
    margin: 16px 0;
    
}
.subscribe_newsletter p {
    color: #0e0e0e91;
    margin: 24px 0;
    
}
.subscribe_input{
    display: flex;
    justify-content: center;
}
.subscribe_input input{
    width: 500px;
    height: 50px;
    text-align: center;
    border-radius: 5px; 
    border-style: none;
    text-align: left;
    padding: 5px 40px;
}
.subcribe_btn{
    padding: 17px 34px;
    border-radius: 8px;
     color: #fff;
     border-style: none;
     background-color: #006A50;
     font-size: 16px;
     transition: 0.5s ease;
     box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
     font-weight: 500;
     cursor: pointer;  
}
.subcribe_btn:hover{
    background-color: #ffffff;
    color: #006A50;
    border: 0.5px solid #006A50; 
}
/* footer style */
footer{
    width: 1200px;
    text-align: center;
    margin: 90px 160px;
    
}
footer h1{
    margin: 50px 0;
}
.footer_icon img {
    margin-right: 15px;
}